/* --------------- Top BAR & SIDEBAR */
header {
    background: #fff;
    box-shadow: -8px 12px 18px 0 rgba(209, 218, 249, 0.2);
}
.main-header[data-background-color] .logo-header {
     background-color:#ffffff !important;
}
.main-header .navbar-header {
    min-height: 57px;
    background: #fff;
    box-shadow: -8px 12px 18px 0 rgba(209, 218, 249, 0.2);
}
.main-header[data-background-color] .btn-minimize {
    color: #514c4c !important;
}

.main-panel > .content {
    background: #f1f3fd;
}
.page-inner {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

/*
Horizontal Responsive Menu Plugin
Version: 1.0
Author: Md Shafiqul Islam
E-mail: shafiqabs@gmail.com
----------------------------------------*/
/* Import Fonts
----------------------------------------*/


/* Horizontal Responsive Menu
----------------------------------------*/
.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top:8px;
}
ul {
    margin: 0px;
    padding: 0px;
}
.horizontal-responsive-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #444d58;
    float: left;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e1e5e9;
}
.horizontal-responsive-menu li{
    list-style: none;
}
.horizontal-responsive-menu li ul {
    display:none;
}
.horizontal-responsive-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    float: left;
}
.horizontal-responsive-menu li a {
    color:#c0c0c0;
}
.horizontal-responsive-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 12px 20px 12px 12px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: #c0c0c0;
}
.horizontal-responsive-menu li a i {
    padding-right: 5px;
}
.horizontal-responsive-menu > li > a i {
    text-shadow: none;
}
.horizontal-responsive-menu li ul.sub-menu li a i {
    padding-right: 10px;
}
.horizontal-responsive-menu li.menu-active > a {
    background: #0d182a !important;
    color:#fff;
}
.horizontal-responsive-menu li .menu-active {
    position: relative;
}
.horizontal-responsive-menu > li > a > .arrow:before {
    margin-left: 15px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
}
.horizontal-responsive-menu li ul.sub-menu li > a > .arrow:before {
    content: "\f105" !important;
}
.horizontal-responsive-menu > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0;
    position: absolute;
}
.horizontal-responsive-menu li ul.sub-menu {
    background: #0d182a;
}
.horizontal-responsive-menu li ul.sub-menu > li {
    width: 185px;
}
.horizontal-responsive-menu li ul.sub-menu li a {
    display: block;
    margin: 0px 0px;
    padding: 12px 20px 12px 15px;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    background: none;
}
.horizontal-responsive-menu > li > ul.sub-menu > li {
    position: relative;
}
.horizontal-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    left: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.horizontal-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    left: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.horizontal-responsive-menu > li > ul.sub-menu li > a > .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 0px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
    display: none;
    float: left;
    width: 100%;
    background: #333;
}
.menu-toggle h3 {
    float: left;
    color: #FFF;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
}
.menu-toggle .icon-bar {
    display: block !important;
    width: 18px;
    height: 2px;
    background-color: #F5F5F5 !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin: 3px;
}
.menu-toggle .icon-bar:hover {
    background-color: #F5F5F5 !important;
}
.menu-toggle #menu-btn {
    float: right;
    background: transparent;
    border: transparent;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.hide-menu {
    display: none;
}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {
    width: 250px;
}
ul[data-menu-style="accordion"] > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    float: none !important;
}
ul[data-menu-style="accordion"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="accordion"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="accordion"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > a i {
    padding-right: 10px;
    color: #FF5737;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="accordion"] li a:hover {
    background: #272727 !important;
}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {
    width: 200px;
}
ul[data-menu-style="vertical"] > li {
    float: none;
}
ul[data-menu-style="vertical"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="vertical"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="vertical"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="vertical"] > li.menu-active {
    position:relative;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu {
    position: absolute;
    left:200px;
    top:0px;
    width:200px;
}
ul[data-menu-style="vertical"] > li > a i {
    padding-right: 10px;
    color: #FF5737;
}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="vertical"] li a:hover {
    background: #272727 !important;
}

/* Responsive Menu Styles
----------------------------------------*/
/*Note: change the max-width asper your requirment and change the same in aceResponsiveMenu({resizeWidth: "768" }) function*/

@media screen and (max-width: 768px) {
    .demo {
        width:96%;
        padding:2%;
    }
    ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
    ul[data-menu-style="vertical"] li ul.sub-menu {
        width: 100% !important;
    }
    .horizontal-responsive-menu {
        float: left;
        width:100%;
    }
    .horizontal-responsive-menu > li {
        border-bottom: 1px solid #242424;
        float: none;
    }
    .horizontal-responsive-menu li a:hover {
        background: #272727 !important;
    }
    .horizontal-responsive-menu > li:first-child {
        border-top: 2px solid #FD5025;
    }
    .horizontal-responsive-menu > li > a i {
        padding-right: 10px;
        color: #FF5737;
    }
    .horizontal-responsive-menu > li > a > .arrow:before {
        float: right;
        content: "\f105";
    }
    li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
    .horizontal-responsive-menu li ul.sub-menu > li {
        width: 100%;
    }
    .horizontal-responsive-menu li ul.sub-menu li ul.sub-menu li a
    {
        padding-left: 30px;
    }
    .horizontal-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a
    {
        padding-left: 50px;
    }
    .horizontal-responsive-menu > li > ul.sub-menu {
        position: static;
    }
    .horizontal-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .horizontal-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .horizontal-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
}

.sidebar {
    background:#ffffff;
}
.sidebar .nav > .nav-item a p {
    color: rgba(0, 0, 0, 0.87);
}
.card-title{
    float: left;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

